.modal-container{
    background-color:rgba(0,0,0,0.5);
    width:100%;
    height:100%;
    display:none;
    top:0;
    left:0;
    position:fixed;
    align-items:center;
    justify-content:center;
}
.modal-content-box{
    width:450px;
    height:300px;
    border-radius:10px;
    background-color:white;
    display:flex;
    position:relative;
    padding:10px;
}
.modal-content{
    padding:20px;
    margin: 0 auto;
}
.popup-btn{
    padding:7px;
    background-color:blue;
    color:white;
    border-radius:8px;
}
.close{
    top:0;
    position:absolute;
    transform:rotate(45deg);
    font-size:35px;
    right:13px;
}